@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Chelsea+Market');

* {box-sizing:border-box}


html{
    background-color: rgb(238, 214, 226);
}

/* Slideshow container */
.slideshow-container {
  max-width: 40vw;
  position: relative;
  margin: auto;
 
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    font-family:cabin sketch;
    background-color: rgb(229, 192, 217);
  color: #272522;
  font-size: 15px;
  padding: 8px 17px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(125, 113, 155);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

*{
    margin:0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(213, 191, 223);
    overflow: hidden;
}

.topnav{
    min-height: 5vh;
    display:flex;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family:Chelsea market;
    color: #2e2b27;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(208, 220, 235);
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
    .topnav a {display: none;}

    .topnav {
       min-height:50px;
        display:flex;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display:inline;
      }

    #slideshow-border{
        background-color: rgb(161, 186, 219);
        width:100%;
        
    }

      .slideshow-container {
        max-width: 100%;
        margin:auto;
        z-index:10;

      }


      #footer{
          font-size:1em !important;
          padding:10px 10px 10px 10px !important;

      }


      #flowers{
         display:none;
      }
    
    .heading{
        height:50%
    }

#inner-headline{
    padding-left:0 !important;
}

    .headline{
        height:100vh;
        width:100vw;
        text-align:center;
        font-size:1.5em !important;
        padding-left:0 !important;
    }

    #good-stuff{
        height:400px !important;
        width:90vw;
        margin:auto !important;
        padding-left:0;
        margin-top:50px !important;
    }

    #bad-stuff{
        width:90vw;
        margin:auto !important;
        padding-left:0;
        margin-top:50px !important;
        margin-bottom:50px !important;
    }


  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 768px) {
     .topnav a.icon {
        position: absolute;
        right:0;
        top:0;
     }

    .topnav.responsive{
        display:flex;
        flex-direction: column;
    }

    .topnav.responsive a {
      display: block;
    }
  }




  /*my own css*/

  .headline{
      color:rgb(53, 50, 43);
      font-family: chelsea market;
      font-size:3em;
      width: 100vw;
      height:95vh; 
     background-image: url("hero.jpg") ;
     background-size:cover;
        
  }

  .headline p{
    font-family: cabin sketch;
    font-size:2em;
}


  #inner-headline{
      padding-left:95px;
      display:flex;
      align-items: center;
      flex-direction: column; 
  }

  #good-stuff{
     color:rgb(53, 50, 43);
      padding-top:5vh;
      background-color:rgb(213, 191, 223);
      padding-left:50px;
      height:350px;
      margin-bottom:10vh;
      border-radius:20px;
      margin-left:200px;
      margin-right:100px;
      margin-top:2vh;
      font-family:chelsea market;
      font-size:1.5rem;
  }

  #bad-stuff{
        color:rgb(53, 50, 43);
      font-size:1.5em;
      font-family:cabin sketch;
      margin-bottom:2vh;
      margin-left:200px;
      margin-right:100px;
      border-radius:20px;
      padding-top:5vh;
      padding-left:50px;
      height:350px;
      background-color:rgb(150, 168, 218);
      
  }

  
  #footer{
      background-color: rgb(229, 192, 217);
font-family:cabin sketch;
font-size:1.8em;
color:rgb(53, 50, 43);
padding-left:70px;
padding-top:30px;
max-width:90%;
margin:40px 40px 40px 60px;
height:25vh;
border-radius:10px;
  }

  
  #flowers{
      position: absolute;
      left:10px;
        background-repeat: repeat-y;
        background-image: url("flowers.png");
        background-size: 100px 500px;
        height:343vh;
        width:20vw;
  }

  #slideshow-border{
    background-image:url("hero.jpg");
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
    display:flex;
    justify-content:center;
  }

  #slideshow-rounded-box{
      width:80vw;
      padding-bottom:10px;
      border-radius:20px;
      background-color: rgb(150, 168, 218);
  }


  #showpics{
      text-align:center;
      background-color:rgb(213, 191, 223);
      font-family:cabin sketch;
      font-size:2em;
      color:rgb(56, 50, 40);
  }

  
.wrapper{
    
    overflow: hidden;
    min-height:100%;
}

 